# UID/GID пользователя на хосте, от имени которого должны создаваться файлы в bind-mount каталогах.
# Заполнить можно так:
#   printf "LOR_UID=%s\nLOR_GID=%s\n" "$(id -u)" "$(id -g)" > .env
LOR_UID=1000
LOR_GID=1000
